@-webkit-keyframes fade {
	to {
		opacity: 1;
	}
}

@keyframes fade {
	to {
		opacity: 1;
	}
}

@-webkit-keyframes slideRight {
	0% {
		left: -1000px;
		opacity: 0;
	}

	33% {
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes slideRight {
	0% {
		left: -1000px;
		opacity: 0;
	}

	33% {
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@-webkit-keyframes slideLeft {
	0% {
		left: 1000px;
		opacity: 0;
	}

	33% {
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		left: 1000px;
		
	}

	33% {
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}