main p {
	max-width: 34em;

	a {
		border-bottom: .15*$rem solid #000; border-bottom: .15rem solid #000;
		// line-height: 1;

		&:hover {
			border-color: rgba(0,0,0,0);
		}
	}
}

hgroup {
	color: #fff;

	a {
		color: #fff;
	}

	h1 {
		font-family: $futuralight;
		font-size: 3.4*$rem; font-size: 3.4rem;
		margin: 0;
		text-transform: uppercase;
		line-height: 1;
		color: $orange;

		a {
			border-bottom: .15*$rem solid #fff; border-bottom: .15rem solid #fff;
		}
	}

	h2 {
		@extend h1;
		font-size: 2.6*$rem; font-size: 2.7rem;
	}

	h3 {
		font: {
			family: $futurabook;
			size: 1.179*$rem; size: 1.179rem;
		}
		line-height: 1.4;
		color: #000;
		margin: 0 0 3.6*$rem; margin: 0 0 3.6rem;
	}
}

h4 {
	font-size: 1.375*$rem; font-size: 1.375rem;
	margin: 2.1*$rem 0 .581*$rem; margin: 2.1rem 0 .581rem;
	color: $orange;

	+ p, + ul {
		margin-top: 0;
	}
}

aside {
	font-size: 1.17*$rem; font-size: 1.179rem;
	margin-top: 3.3*$rem; margin-top: 3.3rem;

	h2 {
		color: $orange;
	}

	ul {
		padding-left: 0;
	}
}