@mixin font-face($fontName) {
	@font-face {
		font-family: '#{$fontName}';
		src: url('../font/#{$fontName}.eot');
		src: url('../font/#{$fontName}.eot?iefix') format('eot'), url('../font/#{$fontName}.svg##{$fontName}') format('svg'), url('../font/#{$fontName}.ttf') format('truetype'), url('../font/#{$fontName}.woff') format('woff');
		font-weight: normal; font-style: normal;
	}  
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin transition($dur: .3s) {
	-moz-transition: all $dur; -webkit-transition: all $dur; -o-transition: all $dur; transition: all $dur;
}

@mixin hide {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin hide_icon {
	 position: absolute;
	 top: -9999px;
	 left: -9999px;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both
}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.svg#icomoon') format('svg'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before, .icon:before, .prjdet a:before, .prjdet .n:after {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}