$orange: #ff7d00;
$blackborder-size: .5rem;
$blackborder-color: #000;
$blackborder: $blackborder-size solid $blackborder-color;
$rem: 16px;
$fallbackfont: 'Arial Narrow', Arial, sans-serif;
$futurabold: 'Futura W01 Bold', $fallbackfont;
$futurabook: 'Futura W01 Book', $fallbackfont;
$futurabookoblique: 'Futura W01 Book Oblique', $fallbackfont;
$futuralight: 'Futura W01 Light', $fallbackfont;