/* Modular Scale
----------------------
22px @ 1:1.333
189px @ 1:1.333
----------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/icomoon.svg#icomoon") format("svg"), url("../font/icomoon.woff") format("woff"), url("../font/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before, .icon:before, .prjdet a:before, .prjdet .n:after {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

/* ------------------------
   Normalize, inspired by http://bit.ly/p8QWOM and http://bit.ly/jOrWmU
   ------------------------ */
fieldset, form, legend, details, figure, figcaption, menu, input[type=radio], input[type=checkbox], blockquote p, nav ul, nav ol {
  margin: 0;
  padding: 0; }

img, hr, fieldset, legend {
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media all and (max-width: 40em) {
  html {
    font-size: 85%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 90%;
    -ms-text-size-adjust: 90%; } }
body, button, input, select, textarea {
  font-family: "Futura W01 Book", "Arial Narrow", Arial, sans-serif;
  color: #333;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: normal; }

h1, hgroup h2, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Futura W01 Bold", "Arial Narrow", Arial, sans-serif;
  font-weight: normal; }

::-moz-selection {
  background: #ff7d00;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #ff7d00;
  color: #fff;
  text-shadow: none; }

a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

ins {
  text-decoration: none; }

b, strong {
  font-family: "Futura W01 Bold", "Arial Narrow", Arial, sans-serif;
  font-weight: normal; }

i, em {
  font-family: "Futura W01 Book Oblique", "Arial Narrow", Arial, sans-serif;
  font-style: normal; }

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  max-height: 736px;
  max-height: 46rem;
  height: auto; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: "Courier New", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

nav ul {
  list-style: none; }

form * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

legend {
  border: 0; }

button, input, select, textarea {
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: normal;
  margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  width: auto;
  overflow: visible;
  margin: 0;
  font-family: inherit; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: -2px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #6d6d6d; }

input:-moz-placeholder {
  color: #6d6d6d; }

textarea {
  overflow: auto;
  vertical-align: top; }

[data-replace] {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

[data-hide] {
  display: none !important; }

main p {
  max-width: 34em; }
  main p a {
    border-bottom: 2.4px solid black;
    border-bottom: .15rem solid #000; }
    main p a:hover {
      border-color: transparent; }

hgroup {
  color: #fff; }
  hgroup a {
    color: #fff; }
  hgroup h1, hgroup h2 {
    font-family: "Futura W01 Light", "Arial Narrow", Arial, sans-serif;
    font-size: 54.4px;
    font-size: 3.4rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #ff7d00; }
    hgroup h1 a, hgroup h2 a {
      border-bottom: 2.4px solid white;
      border-bottom: .15rem solid #fff; }
  hgroup h2 {
    font-size: 41.6px;
    font-size: 2.7rem; }
  hgroup h3 {
    font-family: "Futura W01 Book", "Arial Narrow", Arial, sans-serif;
    font-size: 18.864px;
    font-size: 1.179rem;
    line-height: 1.4;
    color: #000;
    margin: 0 0 57.6px;
    margin: 0 0 3.6rem; }

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  margin: 33.6px 0 9.296px;
  margin: 2.1rem 0 .581rem;
  color: #ff7d00; }
  h4 + p, h4 + ul {
    margin-top: 0; }

aside {
  font-size: 18.72px;
  font-size: 1.179rem;
  margin-top: 52.8px;
  margin-top: 3.3rem; }
  aside h2 {
    color: #ff7d00; }
  aside ul {
    padding-left: 0; }

@-webkit-keyframes fade {
  to {
    opacity: 1; } }
@keyframes fade {
  to {
    opacity: 1; } }
@-webkit-keyframes slideRight {
  0% {
    left: -1000px;
    opacity: 0; }

  33% {
    opacity: 0; }

  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideRight {
  0% {
    left: -1000px;
    opacity: 0; }

  33% {
    opacity: 0; }

  100% {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes slideLeft {
  0% {
    left: 1000px;
    opacity: 0; }

  33% {
    opacity: 0; }

  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideLeft {
  0% {
    left: 1000px; }

  33% {
    opacity: 0; }

  100% {
    left: 0;
    opacity: 1; } }
html {
  background: #ddd;
  background: -webkit-radial-gradient(farthest-corner, #b3b3b3, #f2f2f2);
  background: radial-gradient(farthest-corner, #b3b3b3, #f2f2f2); }

body {
  margin: 0;
  background: #fff;
  max-width: 1184px;
  max-width: 74rem; }
  @media all and (min-width: 76em) {
    body {
      margin: 0 auto;
      border: 0 solid #000; } }

header.main {
  background: #ff7d00;
  text-transform: uppercase;
  font-size: 25.136px;
  font-size: 1.571rem;
  overflow: hidden;
  padding: 10.608px 38.4px 12.384px;
  padding: .663rem 2.4rem .774rem;
  position: relative; }
  header.main ul {
    margin-right: -29.328px;
    margin-right: -1.833rem;
    font-size: 22px;
    font-size: 1.375rem; }
    @media all and (max-width: 62em) {
      header.main ul {
        display: none; } }
    @media all and (min-width: 62em) {
      header.main ul {
        display: block;
        position: absolute;
        right: 38.4px;
        right: 2.4rem;
        top: 0;
        margin-top: 8px;
        margin-top: .5rem;
        font-size: inherit; } }
  header.main li {
    float: left;
    margin: 4.8px 29.328px 0 0;
    margin: .3rem 1.833rem 0 0; }
    header.main li > a {
      line-height: 1.3;
      border-bottom: 2.4px solid #ff7d00;
      border-bottom: 0.15rem solid #ff7d00; }
      header.main li > a:hover, header.main li > a.on {
        border-bottom: 2.4px solid white;
        border-bottom: .15rem solid #fff; }
  header.main a {
    color: #fff;
    display: block; }
  header.main .title {
    display: inline-block; }
    header.main .title a {
      font-family: "Futura W01 Bold", "Arial Narrow", Arial, sans-serif; }
  header.main .toggle {
    position: absolute;
    right: 38.4px;
    right: 2.4rem;
    top: 0; }
    header.main .toggle b {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    header.main .toggle span {
      font-size: 28.8px;
      font-size: 1.8rem;
      line-height: 2; }
    header.main .toggle.on {
      -webkit-transform: rotate(-450deg);
      -ms-transform: rotate(-450deg);
      transform: rotate(-450deg); }
    @media all and (min-width: 62em) {
      header.main .toggle {
        display: none; } }

main {
  padding: 38.4px;
  padding: 2.4rem;
  position: relative; }

h1.ho, hgroup h2.ho {
  display: none; }

.prj {
  list-style: none;
  padding: 0;
  font-family: "Futura W01 Bold", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  max-width: 1472px;
  max-width: 92rem;
  overflow: hidden;
  font-size: 0;
  margin-left: -4%;
  width: 104%; }
  .prj img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 0.5rem 0 black;
    -webkit-box-shadow: 0 0.5rem 0 black;
    box-shadow: 0 0.5rem 0 black;
    margin-bottom: 0.5rem; }
  .prj figcaption {
    padding-top: 3.2px;
    padding-top: .2rem;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .prj a {
    font-size: 16px;
    font-size: 1rem;
    display: block; }
  .prj i {
    font-family: "Futura W01 Light", "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    float: left;
    margin: 1.6px 9.6px 0 0;
    margin: .1rem .6rem 0 0;
    text-transform: uppercase; }
  .prj li {
    font-size: 16px;
    font-size: 1rem;
    margin: 0 0 40px 4%;
    margin: 0 0 2.5rem 4%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
    width: 96%; }
    .prj li:hover img {
      -moz-box-shadow: 0 0.5rem 0 #ff7d00;
      -webkit-box-shadow: 0 0.5rem 0 #ff7d00;
      box-shadow: 0 0.5rem 0 #ff7d00; }
  @media all and (min-width: 33em) {
    .prj li {
      width: 46%; } }
  @media all and (min-width: 51em) {
    .prj li {
      width: 29.33333%; } }
  @media all and (min-width: 75em) {
    .prj li {
      width: 21%; } }

.intro {
  margin-top: 0;
  font-family: "Futura W01 Book Oblique", "Arial Narrow", Arial, sans-serif;
  font-size: 25.136px;
  font-size: 1.571rem;
  position: relative;
  padding-bottom: 59.552px;
  padding-bottom: 3.722rem; }
  .intro:after, .books p:after {
    content: "-";
    font-family: 'Fleurons W95 Six';
    position: absolute;
    left: 42%;
    bottom: -76.8px;
    bottom: -4.8rem;
    font-size: 188px;
    font-size: 11.75rem; }

.books {
  padding: 0;
  list-style: none; }
  .books h2 {
    font-size: 29.328px;
    font-size: 1.833rem;
    margin-top: 25.136px;
    margin-top: 1.571rem;
    line-height: 1.2; }
    @media all and (min-width: 46em) {
      .books h2 {
        margin-top: 0; } }
  .books img {
    border-bottom: 0.5rem solid black; }
    @media all and (min-width: 46em) {
      .books img {
        float: right;
        margin-left: 32px;
        margin-left: 2rem; } }
  .books i {
    font-weight: normal; }
  .books li {
    overflow: hidden;
    position: relative; }
    @media all and (min-width: 46em) {
      .books li {
        margin-bottom: 44.672px;
        margin-bottom: 2.792rem; } }
  .books p {
    margin-bottom: 0;
    padding-bottom: 105.808px;
    padding-bottom: 6.613rem; }
    .books p:after {
      left: 36%;
      bottom: -39.088px;
      bottom: -2.443rem; }
    @media all and (min-width: 46em) {
      .books p {
        padding-right: 232px; } }

footer {
  background: #000;
  color: #fff; }
  footer p {
    font-size: 18.864px;
    font-size: 1.179rem;
    padding: 10.608px 38.4px 16.512px;
    padding: .663rem 2.4rem 1.032rem;
    margin: 0; }
  footer a {
    color: #fff;
    border-bottom: 1.6px solid white;
    border-bottom: .1rem solid #fff; }

.prjdet {
  background: #000;
  margin: 0 -38.4px;
  margin: 0 -2.4rem;
  padding: 29.328px 38.4px;
  padding: 1.833rem 2.4rem;
  overflow: hidden;
  position: relative; }
  .prjdet a {
    color: #fff;
    float: left;
    width: 55%;
    opacity: .5;
    font-size: 18.864px;
    font-size: 1.179rem;
    margin-top: 6.976px;
    margin-top: .436rem;
    z-index: 0;
    line-height: 1; }
    .prjdet a:hover {
      opacity: 1; }
    .prjdet a:before, .prjdet a:after {
      position: relative;
      top: 3.2px;
      top: .2rem;
      font-size: 1.2em;
      color: #fff; }
      @media all and (min-width: 40em) {
        .prjdet a:before, .prjdet a:after {
          font-size: 5rem;
          font-size: 5rem; } }
    @media all and (min-width: 40em) {
      .prjdet a {
        position: absolute;
        left: 2.5%;
        top: 50%;
        color: #000;
        margin-top: -43.2px;
        margin-top: -2.7rem;
        opacity: .3; } }
  .prjdet .p:before {
    content: "\e000";
    margin-left: -8px;
    margin-left: -.5rem; }
  .prjdet .p:after {
    content: normal; }
  .prjdet .n {
    text-align: right;
    width: 45%; }
    .prjdet .n:before {
      content: normal; }
    .prjdet .n:after {
      content: "\e001";
      margin-right: -8px;
      margin-right: -.5rem; }
    @media all and (min-width: 40em) {
      .prjdet .n {
        left: auto;
        right: 2.5%; } }
  .prjdet .main {
    text-align: center;
    max-width: 1056px;
    max-width: 66rem;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    -webkit-animation: fade 4s forwards;
    animation: fade 4s forwards;
    opacity: 0; }
    @media all and (min-width: 40em) {
      .prjdet .main {
        width: 84%; } }
  .prjdet.prjdet_left .main {
    left: 1000px;
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 1.7s;
    animation-name: slideLeft;
    animation-duration: 1.7s; }
  .prjdet.prjdet_right .main {
    left: -1000px;
    -webkit-animation-name: slideRight;
    -webkit-animation-duration: 1.7s;
    animation-name: slideRight;
    animation-duration: 1.7s; }

.prjinfo {
  margin: 29.328px 0 0;
  margin: 1.833rem 0 0; }

.prjlink {
  margin: 33.504px 0 9.296px;
  margin: 2.094rem 0 .581rem; }
  .prjlink a {
    font-family: "Futura W01 Bold", "Arial Narrow", Arial, sans-serif;
    font-size: 33.504px;
    font-size: 2.094rem;
    text-transform: uppercase;
    border-bottom: 4.8px solid #ff7d00;
    border-bottom: 0.3rem solid #ff7d00;
    color: #ff7d00; }

aside.about img {
  border-bottom: 0.5rem solid black;
  max-width: 50%; }
  @media all and (min-width: 50em) {
    aside.about img {
      max-width: none; } }
@media all and (min-width: 50em) {
  aside.about {
    width: 22%;
    margin-top: 0;
    position: absolute;
    right: 38.4px;
    right: 2.4rem;
    top: 2.4rem; } }

@media all and (min-width: 50em) {
  main.ab {
    padding-right: 34%; } }
